.absolutePosition {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin-left: 800px;
    margin-right: auto;
    max-width: 800px;
    width: 100%;
    color: #FFF;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px;
}